body {
  padding: 2em;
  font-family: 'Work Sans', sans-serif;
  font-size: 200%;
  background: #dfd3d3;
  padding: 9rem;
  color: #7c7575;
}

table {
  margin-left: 0.2rem;
  color: #666;
  vertical-align: baseline;
}

th {
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 75%;
  font-weight: normal;
}


.incontext div {
  float: left;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom:0;
  font-size: 66%;
}

.notplayed {
  color: #b8b0b0;
}

.played {
  color: #7c7575;
}

.circle, .bordercircle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.incontext .circle {
  margin-top: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;

}

.notplayed .circle, .notplayed .bordercircle {
  background: #fbf0f0;
}
.played .circle, .played .bordercircle {
  background: #7c7575;
}

.clear {
  clear:both;
  margin-bottom: 1em;
}
.notplayed .bordercircle {
  border: 0.4rem solid rgba(0,0,0,0.2);
}
.played .bordercircle {
  border: 0.4rem solid rgba(255,255,255,0.4);
}
hr {
  border-color: #fff;
}
table.string {
  font-family: 'Work Sans', sans-serif;
}
.small, .smallhide, .smallshow {
  font-size: 66%;
  padding:0.4rem;
}
.notplayed .small {
  opacity: 0;
}
.played .small, .smallshow {
  color:#7c7575;

}
.smallhide {
  opacity: 0;
}
td.notplayed {
  text-align: center;
}

td.played, td.notplayed {
  width:10px;
}
.string td {
  padding: 1rem;
}
th { border-color: #fff;
  border-width: 0.15rem;
 }
td {
  border-color: rgba(255,255,255,0.4);
}
.bordercircle {
  margin-top: -0.5rem;
  margin-left: 1rem;
}
.stringnote {
  font-size: 80%;
  padding:0.25rem;
  opacity: 1;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  margin-top:-0.13rem;
  margin-left: 1.1rem;
  letter-spacing: -0.0rem;
}
.selector {
  margin-top:4em;
}
select {
  -webkit-appearance: none;
  background: none;
  border:none;
  border-radius: 0;
  font-size: 80%;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.05);

}
option {
}
